.btn-group-lg>.btn,
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
}
.jumbotron
.container {
    max-width: 100%;
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
    background-image: url("https://i.ytimg.com/vi/2-NPtSwQk3o/maxresdefault.jpg");
}
.jumbotron p{
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
    float: left;
    color:#D0D0D0;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-4 {
    width: 33.3333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-inverse
.navbar-toggle{
    border-color: #333;
}
.navbar-toggle{
    display: none;
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-inverse
.navbar-collapse,
.navbar-form {
    border-color: #101010;
}
.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>navbar-header {
    margin-right: 0;
    margin-left: 0;
}
.navbar-fixed-bottom
.navbar-collapse,
.navbar-fixed-top
.navbar-collapse {
    max-height: 340px;
    padding-right: 0;
    padding-left: 0;
}
navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}
.navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
}
.navbar-form
.form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.form-control {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px 
                rgba(0,0,0,.075);
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

button{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html
input[type=button],
input[type=reset],
input[type=submit]{
    -webkit-appearance: button;
    cursor: pointer;
}
button,
select {
    text-transform: none;
}
button {
    overflow: visible;
}
button,
input, optgroup, select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

p {
    margin: 0 0 10px;
    display: block;
}
* {
    box-sizing: border-box;
}
div {
    display: block;
}
body {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 14px;
    font-family: Courier New;
    line-height: 1.42857143;
    background-color: #fff;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
body {
    margin: 0;
    display: block;
}
h1 {
    font-size: 36px;
    font-family: Hamster Script;
}
h2 {
    font-size: 30px;
    display: block;
    font-weight: bold;
    text-align: center;
    font-family: fantasy;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 10px;
    /*font-family: inherit;*/
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

p {
    margin: 0  10px;
    /*font-family: script;*/
    font-family: Verdana;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
a {
    color: #337ab7;
    text-decoration: none;
}

